/API_Test/*.iml
/API_Test/.gradle
/API_Test/local.properties
/API_Test/.idea/caches
/API_Test/.idea/libraries
/API_Test/.idea/modules.xml
/API_Test/.idea/workspace.xml
/API_Test/.idea/navEditor.xml
/API_Test/.idea/assetWizardSettings.xml
/API_Test.DS_Store
/API_Test/build
/API_Test/captures
/API_Test.externalNativeBuild
